.title {
    color: #003594;
    font-size: 2em;
    text-align: center;
}  

#logo {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: auto;
}

#foto-oficial {
    display: block;
    margin: 20px auto;
    width: auto;
    height: auto;
}

.motivacional {
    text-align: center;
    font-size: 1.5em;
    color:  #a08804;
}